#result-table-container {
  margin-top: 55px;
}
.result-table{
  margin: 0 auto;
  border-collapse: collapse;
  color: whitesmoke;
  width: 40%;
}
#table-header{
  text-align: center;
}
@media screen and (max-width: 479px){
  .result-table{
    width: 80%;
  }
}

.result-table th, .result-table td{
  text-align: left;
  border: 2px solid black;
  padding: 4px;
}

.result-table tr:nth-child(-n+5){
  background-color: #0aad77;
}

.result-table tr:nth-last-child(-n+2){
  background-color: #038b5d;
}

.result-table th {
  background-color: #02594f;
  padding: 10px 4px;
}
