
body {
    background: #048a81;
    font-family: "Open Sans", sans-serif;
  }
  .container {
    max-width: 960px;
    margin: 30px auto;
    padding: 20px;
  }
  h1 {
    font-size: 20px;
    text-align: center;
    margin: 20px 0 20px;
    color: whitesmoke;
  }
  h1 small {
    display: block;
    font-size: 15px;
    padding-top: 8px;
    color: whitesmoke;
  }
  .avatar-upload {
    position: relative;
    max-width: 205px;
    margin: 50px auto 10px auto;
  }
  .avatar-upload .avatar-edit {
    position: absolute;
    right: 12px;
    z-index: 1;
    top: 10px;
  }
  .avatar-upload .avatar-edit input {
    display: none;
  }
  .avatar-upload .avatar-edit input + label {
    display: inline-block;
    width: 50px;
    height: 50px;
    margin-bottom: 0;
    border-radius: 100%;
    background: #ffffff;
    border: 1px solid transparent;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.12);
    cursor: pointer;
    font-weight: normal;
    transition: all 0.2s ease-in-out;
  }
  .avatar-upload .avatar-edit input + label:hover {
    background: #f1f1f1;
    border-color: #d6d6d6;
  }
  .avatar-upload .avatar-edit input + label:after {
    content: "\f382";
    font-weight: 1200;
    font-size: x-large;
    font-family: "FontAwesome";
    color: #757575;
    position: absolute;
    top: 10px;
    left: 0;
    right: 0;
    text-align: center;
    margin: auto;
  }
  .avatar-upload .avatar-preview {
    width: 192px;
    height: 192px;
    position: relative;
    border-radius: 100%;
    border: 6px solid #f8f8f8;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1);
  }
  .avatar-upload .avatar-preview > div {
    width: 100%;
    height: 100%;
    border-radius: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
  .input-url-div{
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  #urlToImageId:enabled{
    width: 210px;
    padding-left: 3px;
    border: 2px solid whitesmoke;
    background-color: white;
    border-radius: 4px;
    height: 28px;
  }
  #urlToImageId:disabled{
    padding-left: 3px;
    border: 2px solid #cccccc;
    border-radius: 4px;
    height: 28px;
  }
  .input-url-div button{
    width: 60px;
    height: 32px;
    border: 1px solid grey;
    border-radius: 4px;
    color: #fff;
    background-color: #1c89ff;
  }
  .input-url-div button:hover{
    color: #ccc;
    cursor: pointer;
  }
  .input-url-div button:disabled{
    color: #ccc;
  }
  .input-url-div button:disabled:hover{
    cursor: default;
  }
  .button-div{
    background-color: transparent;
    text-align: center;
    margin: 50px 0;
  }
  .button-predict{
    position: relative;
    height: 40px;
    width: 50%;
    font-size: 25px;
    border-radius: 18px;
    background-color: #1c89ff;
    border: solid 1px transparent;
    color: #fff;
    font-weight: 300;
    transition: all .1s ease-in-out;
    cursor: pointer;
  }
  .button-predict:enabled:hover{
    background-color: transparent;
    border-color: #fff;
    transition: all .1s ease-in-out;
  }
  .button-predict:disabled{
    background-color: transparent;
    color: whitesmoke;
  }
  .button-predict:disabled:hover {
    cursor: default;
  }
